.escolha {
    color: rgb(37, 32, 32);
    text-align: center;
    border-style: double;
    border-color: aliceblue;
    border-width: 18x;
    border-radius: 10px;

}

body {
    background-color: rgb(47, 215, 221);
    text-align: center;
}

#ima1 {
    width: 16%;
}

#text1 {
    color: green;
}

#text2 {
    color: black;
}

#text3 {
    color: brown;
}

#curiosidades {
    color: red;
    border-style: double;
    border-color: black;

}

#distância {
  color: rgba(218, 45, 45, 0.678)
}

#blindado {
    color: black;
}

