.escolha {
    color: rgb(37, 32, 32);
    text-align: center;
    border-style: double;
    border-color: rgb(56, 112, 160);
    border-width: 18x;
    border-radius: 10px;
    border-left: 8px;
}

body {
    background-image: linear-gradient(#1fb852,#326c79);
    text-align: center;
}

#ima1 {
    width: 16%;
}

#text1 {
    color: rgb(36, 207, 36);
}

#text2 {
    color: black;
}

#text3 {
    color: brown;
}

#curiosidades {
    color: red;
    border-style: double;
    border-color: black;

}

#distância {
  color: rgba(218, 45, 45, 0.678)
}

#blindado {
    color: black;
}

#surgimento {
    color: rgba(202, 123, 33, 0.884);
}