.escolha {
    color: rgb(37, 32, 32);
    text-align: center;
    border-style: double;
    border-color: aliceblue;
}

body {
    background-color: rgb(14, 28, 155);
    text-align: center;
}

#ima1 {
    width: 16%;
}

#text1 {
    color: green;
}

#text2 {
    color: black;
}

#text3 {
    color: brown;
}