.escolha {
    color: rgb(37, 32, 32);
    text-align: center;
    border-style: double;
    border-color: rgb(39, 187, 51);
}

body {
    background-color: rgb(13, 165, 211);
    text-align: center;
    border-style: double;
}

#ima1 {
    width: 16%;
}

#text1 {
    color: green;

}

#text2 {
    color: black;
}

#text3 {
    color: brown;
}