.escolha {
    color: rgb(255, 232, 232);
    text-align: center;
    border-style: double;
    border-color: rgb(39, 187, 51);
}

body {
    background-color: rgb(30, 226, 184);
    text-align: center;
    border-style: double;
}

#ima1 {
    width: 16%;
}

#text1 {
    color: green;

}

#text2 {
    color: black;
}

#text3 {
    color: brown;
}